* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 5px 100px;
}
/* Abror's page */
.title{
  font-size: 45px;
  font-family: cursive;
  color: orange;
  text-align: center;
}
/* Sodoqjon's page */
.btn{
  background-color: burlywood;
  color: brown;
  font-size: 20px;
}