* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 5px 100px;
}
/* Abror's page */
.title{
  font-size: 45px;
  font-family: cursive;
  color: orange;
  text-align: center;
}
/* kalimulloh's page */
.lorem{
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  
  }
/* botirov page */
.box-title{
  color: cadetblue;
  font-size: 80px;
  font-weight: 700;
  font-family: fantasy;

/* ziyoviddin's page */
.subtitle {
  font-size: 24px;
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
  margin-top: 20px;
/* Sodoqjon's page */
.btn{
  background-color: burlywood;
  color: brown;
  font-size: 20px;
}
